

{% block content %}
    <h1>Authors</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.first_name }} {{ author.last_name }}</td>
                    <td>
                        <a href="{{ path('author_view', {'id': author.id}) }}">View</a>
                       
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

